@font-face {
  font-family: "roboto-thin";
  src: url(/font/Roboto-Thin.ttf);
}

@font-face {
  font-family: "roboto";
  src: url(/font/Roboto-Regular.ttf);
}

@font-face {
  font-family: "palanquin";
  src: url(/font/Palanquin-Regular.ttf);
}

@font-face {
  font-family: "palanquin-dark-bold";
  src: url(/font/PalanquinDark-Bold.ttf);
}

:root {
  /*
    dont use these vars anywhere. This is just for reference 
    These variables are available as materialize classes. :)
  */
  --theme-primary: #77a6f7;
  --theme-primary-light: #d3e3fc;
  --theme-secondary: #ffffff;
  --theme-tertiary: #ffccbc;
  --theme-teal: #00887a;
}

* {
  box-sizing: border-box;
  font-family: "roboto";
}

body,
html {
  padding: 0px;
  margin: 0px;
  scroll-behavior: smooth;
}

section.page {
  width: 100%;
  min-height: 100vh;
}

section .title {
  font-family: "palanquin";
  display: flex;
  align-items: center;
}

section .title i.material-icons {
  font-size: 100%;
  margin-top: 8px;
  margin-right: 15px;
}

.card:nth-child(2) {
  transform: translateY(140px);
}
.card:nth-child(3) {
  transform: translateY(200px);
}
